header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12rem;
}

.user {
  font-size: 0.875rem;
}

.user > p {
  font-weight: 600;
}

.user > span {
  font-weight: 400;
  color: var(--gray);
}