.content {
  height: 100%;
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
}

.products-container {
  padding-top: 3.75rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 100%;
}

.new-products-container {
  position: relative;
  width: 70%;
  border: 1px solid var(--light-gray);
  border-bottom: 0;
  border-right: 0;
}

.new-products-container > h3 {
  text-align: center;
  margin: 1rem 0;
}


